@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}
footer{
    position: fixed;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top:100px;
    background-color: #fff;


}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;

}
.content .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .top .logo-details{
    color:#fff ;
    font-size: 22px;
    padding: 20px 0;
}

.content .top .media-icons a i{
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
 
}
.content .top .media-icons a .fa-facebook{
    background: #4267B2;
}
.content .top .media-icons a .fa-facebook:hover{
    color: #4267B2;
    background: #fff;
}
.content .top .media-icons a .fa-twitter{
    background: #1DA1F2;
}
.content .top .media-icons a .fa-twitter:hover{
    color: #1DA1F2;
    background: #FFF;
}
.content .top .media-icons a .fa-instagram{
    background: #E1306C;
}
.content .top .media-icons a .fa-instagram:hover{
    color: #E1306C;
    background: #FFF;
}
.content .top .media-icons a .fa-linkedin-in{
    background: #0077b5;
}
.content .top .media-icons a .fa-linkedin-in:hover{
    color: #0077b5;
    background: #FFF;
}
.content .top .media-icons a .fa-youtube{
    background: #FF0000;
}
.content .top .media-icons a .fa-youtube:hover{
    color: #FF0000;
    background: #FFF;
}
.content .link-boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content .link-boxes .box{
    width: calc(100%/5 -10px);
    margin-top: 5px;
}
.content .link-boxes .box li{
    list-style: none;
}
.content .link-boxes .box .link_name{
    color: #fff;
    position: relative;
}
.content .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: #fff;
    left: 0;
    bottom: -1px;
}
.content .link-boxes .box li{
    margin: 7px 0;
    padding-top: 3px;
}
.content .link-boxes .box li a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    transition: all 0.3s ease;
}
.content .link-boxes .box li a:hover{
    text-decoration: underline;
    opacity: 1;
}
.content .link-boxes .input input{
    width: calc(100% + 20px);
    height: 35px;
    background-color: #140B5C;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff ;
    padding: 0 10px;
}
.content .link-boxes .input input::placeholder{
    padding: 10px;
    font-weight: bold;
    
}
.content .link-boxes .input input[type="button"]{
    color: #140B5C;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content .link-boxes .input input[type="button"]:hover{
    opacity: 1;
}